<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408005257875-b46ru5ph8mvk161mi0i10l5506ftein5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408005257875-b46ru5ph8mvk161mi0i10l5506ftein5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>408005257875-emvpu4ns50dn76o7nrrndmofc627k8o7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDewmAmR0C_w7hHen--slnYLMkbft79FXI</string>
	<key>GCM_SENDER_ID</key>
	<string>408005257875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.memo.Memo</string>
	<key>PROJECT_ID</key>
	<string>memo-ca188</string>
	<key>STORAGE_BUCKET</key>
	<string>memo-ca188.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408005257875:ios:1ecd72b6e5dd0fc877bb66</string>
</dict>
</plist>